<div class="container w-50">
<h1>Ejercicios:</h1>
</div>
    <hr>
    <div class="container">
    <ul class="list-group ">
      <li class="list-group-item " routerLink="componente1" [routerLinkActiveOptions]="{exact:true}" routerLinkActive="active">ejercicio1</li>
      <li class="list-group-item" routerLink="componente2" routerLinkActive="active">ejercicio2</li>
      <li class="list-group-item" routerLink="componente3" routerLinkActive="active">ejercicio3</li>
      <li class="list-group-item" routerLink="componente4" routerLinkActive="active">ejercicio4</li>
      <li class="list-group-item" routerLink="componente5" routerLinkActive="active">ejercicio5</li>
    </ul>
    </div>
<hr>
<div class="container w-50">
  <router-outlet></router-outlet>
  </div>
