<div class="container w-50">
<h1>Rutas</h1>
</div>
    <hr>
    <div class="container">
    <ul class="list-group ">
      <li class="list-group-item " routerLink="componente1" [routerLinkActiveOptions]="{exact:true}" routerLinkActive="active">componente1</li>
      <li class="list-group-item" routerLink="componente2" routerLinkActive="active">componente2</li>
      <li class="list-group-item" routerLink="componente3" routerLinkActive="active">componente3</li>
      <li class="list-group-item" routerLink="componente4" routerLinkActive="active">componente4</li>
      <li class="list-group-item" routerLink="componente5" routerLinkActive="active">componente5</li>
    </ul>
    </div>
<hr>
<div class="container w-50">
  <router-outlet></router-outlet>
  </div>
