<div class="container rounded bg-success p-2 m-1">
<div class="container w-70">
  <h1 class="bg-info">AREA DE TRIANGULO:</h1>
</div>

<div class="input-group input-group-sm mb-3">
  <div class="input-group-prepend">
    <span class="input-group-text" id="inputGroup-sizing-sm">Base: </span>
  </div>
  <input type="number" name="base"  [(ngModel)]="base" class="form-control" aria-label="Small" placeholder="Ingrese la base del triángulo" aria-describedby="inputGroup-sizing-sm">
</div>
<div class="input-group input-group-sm mb-3">
  <div class="input-group-prepend">
    <span class="input-group-text" id="inputGroup-sizing-sm">Altura: </span>
  </div>
  <input type="number" name="altura" [(ngModel)]="altura" class="form-control" aria-label="Small" placeholder="Ingrese la altura del triángulo" aria-describedby="inputGroup-sizing-sm">
</div>
<div class="container mb-3" >

  <button class="btn btn-secondary m-1" (click)="area()" >Calcular Area</button>
</div>

<div class="input-group mb-3">
  <div class="input-group-prepend">
    <span class="input-group-text" id="inputGroup-sizing-sm">Area: </span>
  </div>
  <h3 type="text" class="form-control btn-warning" aria-label="Small">{{this.resultado}}</h3>
  <!--<button class="btn btn-danger mb-2" (click)="limpiaResultado()" >Limpiar</button> -->
</div>
</div>
